In [5]:
Frutas = ["fresa", "Melon", "uva", "pera", "Manzana"]
type(Frutas)

list

In [6]:
Listas=[[1, 2, 3], ["a", "b", "c"], [True, False]]
type(Listas)

list

In [7]:
Mixtas = [1, "a", True, 3.14]

In [8]:
Frutas.pop()
Frutas.append("Guayaba")  
Frutas.insert(2, "Kiwi")  
Frutas.sort()
Frutas.pop()
Frutas.remove("Kiwi")
Frutas

['Guayaba', 'Melon', 'fresa', 'pera']

In [9]:
dir (Frutas)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [10]:
len("Janely")
len("Frutas")

6

In [11]:
Lista1 = [1, 2, 3]
Lista2 = [4, 5, 6]
Combinada = Lista1 + Lista2
Combinada

[1, 2, 3, 4, 5, 6]

In [12]:
Sublista = Combinada[1:4] 
Sublista

[2, 3, 4]

In [13]:
T = 1,2 
type(T)

tuple

In [14]:
T2= (1, 2, 3)
type(T2)

tuple

In [15]:
TM = ("Janely", "Toledo", 19)
type (TM)

tuple

In [16]:
Elemento = TM[1]
Elemento
Elemento.upper()

'TOLEDO'

In [17]:
Tupla = (1, 2, 3)
Tupla [0]
a, b, c  = Tupla

In [18]:
Nacimiento = (28,7,2006)
Nombres=("Janely", "Toledo")
Datos=(Nombres, Nacimiento)  
Datos

(('Janely', 'Toledo'), (28, 7, 2006))